@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

@layer utilities {
	.app {
		display: grid;
		min-height: 100dvh;
		min-height: 100vh;
		place-items: center;
		grid-template-rows:
			[primary-nav] 4rem
			[main] 1fr
			[footer] auto;
		grid-template-columns: [fullbleed-start] 1rem [main-start] auto [main-end] 1rem [fullbleed-end];
	}
}

.app > * {
	display: grid;
	grid: subgrid / subgrid;
}
