@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen;
  }
}

@layer utilities {
  .layout {
    @apply grid h-screen;
    grid-template:
      "nav" 56px
      "main" 1fr
      "footer" auto 
      / 1fr;
  }
  .nav { grid-area: nav; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }
}